<div class="login">
    <form [formGroup] = "loginData" (ngSubmit) = "login()" class = "container-fluid custom-form">
        <h1>Login</h1>
        <label>Username:</label>
        <input formControlName = "username" placeholder = "Username" required = "required"/>
        <label>Password:</label>
        <input type = "password" name = "password" formControlName = "password" placeholder = "Password" required="required" />
        <button [disabled] = "loginData.invalid" type = "submit" class = "disabled">Log in</button>
    </form>
</div>